* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    background: #ff0000;
    font-family: 'Lexend Deca', sans-serif;
}

/* index - barra de Inicio - footer */

#inicio {
    height: 100px;
    width: 100%;
    /* background: #040d50; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

.linkinicio a {
    text-decoration: none;
    color: #fcfaee;
    letter-spacing: -8px;
    font-size: 30px;
    transition: .3s linear;

}

.linkinicio a:hover {
    font-size: 33px;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
    letter-spacing: .1em;
}

#linkenlaces ul {
    width: 800px;
    /* background: white; */
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#linkenlaces li a {
    color: #fcfaee;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: .2s linear;

}

#linkenlaces a:hover {
    color: #000;
}


footer {
    width: 100vw;
    height: auto;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fcfaee;
    padding: 20px 35px;
    /* flex-wrap: wrap; */
}

footer h6 {
    font-size: 16px;
}

#redes {
    display: flex;
    width: 200px;
    justify-content: space-around;
    font-size: 35px;
    text-align: center;
}

#redes a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    transition: .3s linear;
    align-content: center;
}

.rs {
    width: 60px;
    height: 60px;
    background: #fcfaee;
    border-radius: 5rem;
}

#redes a:hover {
    color: #fcfaee;
    font-size: 40px;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
        font-weight: bolder;
}

.rs:hover {
    background: #000;
    transition: .5s;

}


/* fin de barra de inicio - footer */

/* inicio de pagina de inicio */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
}

#contentResena {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#reseña {
    /* background: skyblue; */
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 30px;
    margin: 0 30px;
}

#reseña h2 {
    font-size: 4rem;
    font-weight: bolder;
    color: #fcfaee;

}

#reseña p {
    font-size: 1.5rem;
    text-align: justify;
    color: #fcfaee;
}

#reseña a {
    width: 110px;
    text-decoration: none;
    background: #fcfaee;
    border-radius: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding: 10px 7px;
    margin-top: 30px;
    color: #000;
    letter-spacing: .1rem;
    transition: .5s linear;

}

#reseña a:hover {
    width: 125px;
    color: #fcfaee;
    background: #000;
    letter-spacing: .2rem;
    text-shadow: 0 0 10px #fff,
        0 0 10px #fff,
        0 0 1px #fff;
}

.video {
    width: 300px;
    height: 300px;
}

.productos {
    /* background: blue; */
    width: 74%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 50px 0;
}

.img-products {
    width: auto;
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: skyblue; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.img-products1 {
    width: auto;
    height: 533.31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: skyblue; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

#f1 {
    background: url(../img/nintendo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;

}

#f2 {
    background: url(../img/xbox1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#f3 {
    background: url(../img/play1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;

}

.foto {
    width: 394px;
    height: 493px;
    /* background: green; */
    transition: .5s;
}

.fotog {
    width: 426.66px;
    height: 533.31px;
    /* background: green; */
    transition: .5s;
}

.text {
    font-size: 1.5em;
    /* background: orange; */
    text-align: center;
    text-shadow: 0 0 10px #30303070,
        0 0 10px #30303070,
        0 0 1px #30303070;
    color: #fff;
    position: absolute;
    top: 420px;
    width: 100%;
}

.textg {
    font-size: 1.5em;
    /* background: orange; */
    text-shadow: 0 0 10px #26262670,
        0 0 10px #26262670,
        0 0 1px #26262670;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 440px;
    width: 100%;
}

.text h4 {
    margin: 0 0 6px;
}

.img-products:hover .foto {
    transform: scale(1.1);
}

.img-products1:hover .fotog {
    transform: scale(1.1);
}

@media screen and (max-width:1024px) {
    .productos{
        flex-wrap: wrap;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contentResena{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

}

/* fin pagina de inio */

/* inicio de Nosotro */

@media screen and (max-width:600px) {
    #nosotros {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* fin de Nosotros */

/* inicio de Registrate */
:root {
    --colorTextos: #d1d2f5;
}

.reg {
    color: #fcfaee;
    font-size: 40px;
    font-weight: 1000;
}

#registrate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.imgregistrate {
    width: 900px;
    height: 700px;
    margin: 15px 30px;
    border-radius: 6px;
}

.regcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 30px;
}

form .grupo,
.terminos {
    position: relative;
    margin: 45px;
}

form input {
    background: none;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    /* color: #5e5d5d; */
    border-bottom: 1px solid var(--colorTextos);
}

form input:focus {
    outline: none;
    color: #5e5d5d;
}

form label {
    color: #fff;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 0;
    transition: .5s ease all;
    pointer-events: none;
}

form input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 15px;
    color: #000;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to left, #273c55, #141E30);
    transition: .5s ease width;
}

form input:focus~.barra::before {
    width: 100%;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: .1em;
    text-align: center;
    display: block;
    width: 60%;
    margin: 10px auto;
    color: #000;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background: #fcfaee;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    transition: .5s linear;
}

button:hover {
    letter-spacing: .2em;
    text-shadow: 0 0 10px #fff,
        0 0 10px #fff,
        0 0 20px #fff;
    background: #000;
    color: #fcfaee;
    width: 80%;
}

@media screen and (max-width:900px) {
    #registrate {
        flex-wrap: wrap;
    }
}

/* fin de Registrate */

/* INICIO DE GALERIA */
.vidpublicidad {
    width: 100%;
    height: 700px;
    padding: 60px 36px;
}

.row {
    padding: 20px 30px 45px 30px;
}
/* Fin de Galeria */

/* inicio de contactanos */
#encuentranos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fcfaee;
}
.imgencuentranos {
    width: auto;
    height: 533.31px;
    /* background: skyblue; */
    border-radius: 6px;
    margin: 40px 0; 
}

.datosencuentranos{
    width: 800px;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 20px 0 45px 0;
}

